@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-00: #657b83;
  --base-01: #586e75;
  --base-02: #073642;
  --base-03: #002b36;
  --base-0: #839496;
  --base-1: #93a1a1;
  --base-2: #eee8d5;
  --base-3: #fdf6e3;

  --yellow-sol: #b58900;
  --orange-sol: #cb4b16;
  --red-sol: #dc322f;
  --magenta-sol: #d33682;
  --violet-sol: #6c71c4;
  --blue-sol: #268bd2;
  --cyan-sol: #2aa198;
  --green-sol: #859900;
}

@layer base {
  /* h1 { */
  /*   @apply font-medium leading-tight text-4xl mt-0 mb-2; */
  /* } */
  /* h2 { */
  /*   @apply font-medium leading-tight text-4xl mt-0 mb-2; */
  /* } */
  /* h3 { */
  /*   @apply font-medium leading-tight text-3xl mt-0 mb-2; */
  /* } */
  /* h4 { */
  /*   @apply font-medium leading-tight text-2xl mt-0 mb-2; */
  /* } */
  /* h5 { */
  /*   @apply font-medium leading-tight text-xl mt-0 mb-2; */
  /* } */
  /* h6 { */
  /*   @apply font-medium leading-tight text-base mt-0 mb-2; */
  /* } */
}
